<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">Product Attachments on Mails</h2>
            <h3 class="oe_slogan">
                Add product attachments to mail of sale or purchase orders
            </h3>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Attachment list</h2>
        <div class="oe_span6">
            <p class="oe_mt32">
                Provides a list of all product attachments for sale or purchase
                order positions on mail wizard. Choose, which attachments to
                send with the email.
            </p>
        </div>
        <div class="oe_span6">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture oe_screenshot"
                     src="screenshot_product_attachments.png" alt="Screenshot">
            </div>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Second Feature</h2>
        <div class="oe_span6">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture"
                     src="screenshot-example.png" alt="Screenshot">
            </div>
        </div>
        <div class="oe_span6">
            <p class="oe_mt32">
                Lorem Ipsum ...
            </p>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <div class="oe_span12 oe_centered oe_muted">
            More information about Odoo Services of
            <a style="color:#6d57e0" href="https://jamotion.ch/" target="_blank">
                Jamotion GmbH here...</a>
        </div>
    </div>
</section>